{% extends 'default/login.html.twig' %}

{% block form %}
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign Up</h3>
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                <fieldset>
                    <div class="form-group">
                        {{ form_row(form.firstName) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.lastName) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.login) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.password) }}
                    </div>
                    <div class="form-group">
                        <label for="exampleConfirmPassword">Confirm password</label>
                        <input class="form-control" id="exampleConfirmPassword" type="password"
                               placeholder="Confirm password">
                    </div>
                    {{ form_row(form.submit) }}
                </fieldset>
                {{ form_end(form) }}

                <div class="checkbox">
                    <div class="text-center">
                        <p><a class="d-block small mt-3" href="{{ path('admin_login_route') }}">Login Page</a>
                            {#</div <a class="d-block small" href="{{ path('admin_forgotpass_route') }}">Forgot Password?</a>>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock form %}