<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> {% block title %} Blog {% endblock title %}</title>
    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('/public/blog/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('/public/blog/css/blog-home.css') }}" rel="stylesheet">
    {% endblock stylesheets %}
</head>

<body>

<!-- Navigation -->
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('blog_index_route') }}">Blog
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('admin_articles') }}">Admin
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock navbar %}

<!-- Page Content -->
<div class="container">

    <div class="row">
        {% block Article %} {% endblock Article %}

        {% block sidebar %}
        <!-- Pagination -->
        {#<ul class="pagination justify-content-center mb-4">#}
            {#<li class="page-item">#}
                {#<a class="page-link" href="#">&larr; Older</a>#}
            {#</li>#}
            {#<li class="page-item disabled">#}
                {#<a class="page-link" href="#">Newer &rarr;</a>#}
            {#</li>#}
        {#</ul>#}
        {% endblock sidebar %}

    </div>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Search Widget -->
        {% block Search %}
            {{ render(controller(
                'BlogBundle:Default:searchArticles'
            )) }}
        {% endblock Search %}
        <!-- Categories Widget -->
        {% block Categories %}
            {{ render(controller(
                'BlogBundle:Default:category'
            )) }}
        {% endblock Categories %}


        <!-- Side Widget -->
        <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
            </div>
        </div>
    </div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->
{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock footer %}

{% block script %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('/public/blog/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('/public/blog/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
{% endblock script %}
</body>

</html>
