{% extends '@Blog/base.html.twig' %}

{% block Article %}
<!-- Post Content Column -->
<div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">{{ article.title }}</h1>
    <!-- Post Description -->
    <p class="lead">{{ article.description }}</p>

    <hr>
    <!-- Preview Image -->
    <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

    <hr>

    <!-- Post Content -->
    <p>{{ article.content }}</p>

    <!-- Category -->
    <div class="card-footer text-muted">
            <p>Category:
                {% for category in article.getCategories %}
                    <a href="{{ path('blog_category_route', { 'category': category }) }}">{{ category }}</a>
                {% endfor %}</p>
        Posted on {{ article.createdAt|date('F d, Y') }} by
        {% for user in article.getUsers %}
            <a href="#">{{ user }}</a>
        {% endfor %}
    </div>
    {% endblock Article %}

    {% block sidebar %}
    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="javascript:history.back()">&larr; назад</a>
        </li>
        {% endblock sidebar %}
